html {
    height: 100%;
}

body {
    font-family: 'Armata', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#map {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

#mapView {
    height: 92%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar {
    background: linear-gradient(to top, yellow 0%, yellow 50%, blue 50%, blue 100%);
}

a.nav-link {
    color: white;
    text-shadow: -5px 5px 15px #000000, 0 0 5px #0000ff;
}

a.nav-link:hover {
    color: black;
}

#unapprovedAuthorities a:hover {
    color: white !important;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

#allAuthorities a:hover {
    color: white !important;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

#myComplaints a:hover {
    color: white !important;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

#myProfileInformation a:hover {
    color: white !important;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

#markerDescription::first-letter {
    font-size: 200%;
    color: #000000;
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}
